* 

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.container {
    width: 45%;
    height: 48vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #f8f3e6;
    padding: 25px 20px;
    
}

.line-wrap {
    margin: 0px;
    margin-bottom: 10px;
    display:flex;   
}

.line-wrap::after {
    content: "";
    display: inline-block;
    width:15px; 
    height: 15px;
    margin-left:10px;
    border-radius: 50%;
    background-color: #ffffff;
 
}

.line {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2c2c2c;
    font-size: 20px;

}

.line-wrap:last-of-type {
    margin-bottom: 0;
}

.title-wrap{
    margin-bottom: 20px;

}

.title{
    border: none;
    border-bottom: 1px solid #2c2c2c;
    background-color: transparent;
    font-size:22px;
    max-width: 79%;
}